.devise__footer
  .devise__footer__nav
    %ul
      %li プライバシーポリシー
      %li FURIMA利用規約
      %li 特定商取引に関する表記
  = image_tag asset_path("material/logo/logo-white.png")
  .devise__footer__copywirte
    %small
      &copy; FURIMA, Inc.