.item_window
      %h3 購入した商品
      .item_window__list
        .item
          = image_tag asset_path("material/pict/pict-reason-02.jpg")
          %p 商品Aを購入しました。
        .item
          = image_tag asset_path("material/pict/pict-reason-02.jpg")
          %p 商品Bを購入しました。
        .item
          = link_to "一覧を見る", "#", class: "index_btn"