$background-offwhite: #f5f5f5;
$basic-white: white;
$main-color: #3CCACE;
$caution-red: #ea352d;
$font-black: #333333;
$unfinish: #ccc;
$fade-font: #888888;
$link-blue: #0099e8;
$white: #fff;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light_blue: #38AEF0;
$light_gray: #999;
$black: #434a54;
$alert_orange: #F35500;