@mixin form-label() {
  label {
    font-size: 14px;
    font-weight: 600;
    color: $font-black;
  }
  span {
    border-radius: 2px;
    display: inline-block;
    font-weight: 600;
    line-height: 1.4em;
    font-size: 12.5px;
    color: $basic-white;
    margin-left: 8px;
    padding: 0 4px;
    background-color: $caution-red;
  }
}

@mixin form-select() {
  margin-top: 16px;
  select {
    height: 48px;
    width: 620px;
    padding: 0 16px;
    border-radius: 4px;
    border: 1px solid $unfinish;
    background-color: $basic-white;
    cursor: pointer;
  }
}

* {
  box-sizing: border-box;

  .form-new {
    background-color: white;
    max-width: 700px;
    margin: 0 auto;
    padding-bottom: 5px;
    a {
      text-decoration: none;
    }

    
    .form-image {
      
      padding: 40px;
      border-bottom: solid 1px $unfinish;
      &__label {
        @include form-label();
      }
      p {
        margin-top: 16px;
        font-size: 14px;
        color: $font-black;
      }
      &__box {
        background-color: $background-offwhite;
        border: 1px dashed $unfinish;
        height: 150px;
        font-size: 12.5px;
        margin-top: 16px;
        text-align: center;
        label {
          img {
            margin-top: 30px;
            cursor: pointer;
          }
        }
      }
    }


    .form-item {
      
      padding: 40px;
      border-bottom: solid 1px $unfinish;
      &__name {
        &__label {
          @include form-label();
        }
        &__input {
          margin-top: 16px;
          input {
            height: 48px;
            width: 620px;
            padding: 0 16px;
            border-radius: 4px;
            border: 1px solid $unfinish;
          }
        }
      }

      &__text {
        margin-top: 32px;
        &__label {
          @include form-label();
        }
        &__input {
          textarea {
            margin-top: 16px;
            font-size: 16px;
            padding: 13px 16px;
            border-radius: 4px;
            border: 1px solid $unfinish;
            resize: vertical;
            width: 100%;
            height: 160px;
            box-sizing: border-box;
          }
        }
        &__style-counter {
          text-align: right;
          font-size: 12px;
          color: $fade-font;
        }
      }
    }


    .form-detail {
      
      padding: 40px;
      border-bottom: solid 1px $unfinish;
      p {
        color: rgb(136, 136, 136);
        font-size: 14px;
        font-weight: 600px;
        margin-bottom: 24px;
        line-height: 1.4em;
      }
      &__category {
        &__label {
          @include form-label();
        }
        &__input {
          @include form-select();
        }
      }

      &__brand {
        margin-top: 32px;
        label {
          font-size: 14px;
          font-weight: 600;
          color: $font-black;
        }
        span {
          border-radius: 2px;
          display: inline-block;
          font-weight: 600;
          line-height: 1.4em;
          font-size: 12.5px;
          color: $basic-white;
          margin-left: 8px;
          padding: 0 4px;
          background-color: $fade-font;
        }
        &__input {
          margin-top: 16px;
          input {
            height: 48px;
            width: 620px;
            padding: 0 16px;
            border-radius: 4px;
            border: 1px solid $unfinish;
          }
        }
      }
      
      &__status {
        margin-top: 32px;
        &__label {
          @include form-label();
        }
        &__input {
          @include form-select();
        }
      }
    }


    .form-shipping {
      
      padding: 40px;
      border-bottom: solid 1px $unfinish;
      &__title {
        display: flex;
        font-size: 14px;
        p {
          color: rgb(136, 136, 136);
          font-weight: 600px;
          margin-bottom: 24px;
          line-height: 1.4em;
        }
        a {
          display: inline-block;
          margin-left: 5px;
        }
      }
      &__charge {
        &__label {
          @include form-label();
        }
        &__input {
          @include form-select();
        }
      }
      &__area {
        margin-top: 32px;
        &__label {
          @include form-label();
        }
        &__input {
          @include form-select();
        }
      }
      &__days {
        margin-top: 32px;
        &__label {
          @include form-label();
        }
        &__input {
          @include form-select();
        }
      }
    }


    .form-price {
      
      padding: 40px 40px 0px;
      &__title {
        display: flex;
        font-size: 14px;
        p {
          color: rgb(136, 136, 136);
          font-weight: 600px;
          margin-bottom: 24px;
          line-height: 1.4em;
        }
        a {
          display: inline-block;
          margin-left: 5px;
        }
      }
      &__value {
        display: flex;
        justify-content: space-between;
        &__left {
          @include form-label();
        }
        &__right {
          input {
            height: 48px;
            text-align: right;
            border-radius: 4px;
            border: 1px solid $unfinish;
            background-color: $basic-white;
            margin-left: 10px;
            padding-right: 20px;
            width: 250px;
          }
        }
      }
      &__fee {
        padding: 12px 0;
        height: 70px;
        line-height: 56px;
        font-size: 14px;
        color: $font-black;
        border-bottom: 1px solid $unfinish;
        span {
          float: right;
        }
      }
      &__plofit {
        padding-top: 12px;
        height: 58px;
        line-height: 44px;
        font-size: 14px;
        color: $font-black;
        span {
          float: right; 
        }
      }
    }


    .form-btn {
      width: 360px;
      
      margin: 32px 170px;
      &__top {
        cursor: pointer;
        input {
          color: $basic-white;
          background-color: $main-color;
          display: inline-block;
          height: 46px;
          line-height: 46px;
          font-size: 17px;
          border-radius: 4px;
          text-align: center;
          font-weight: 600;
          width: 100%;
        }
      }
      &__midle {
        margin-top: 24px;
        a {
          color: $font-black;
          background-color: $unfinish;
          display: inline-block;
          height: 46px;
          line-height: 46px;
          font-size: 17px;
          border-radius: 4px;
          text-align: center;
          font-weight: 600;
          width: 100%;
        }
      }
      &__bottom {
        text-align: center;
        margin-top: 24px;
        a {
          color: $link-blue;
          font-size: 14px;
        }
      }
    }


    .form-term {
      width: 620px;
      height: 32.5px;
      margin: 0 40px 64px;
      font-size: 12.5px;
      color: $font-black;
    }
  }
}