.card_add {
  width: 700px;
  margin: 40px auto 0;
  color: #333333;
  .title {
    padding: 8px 24px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    border-bottom: 1px solid #f0e8e8;
  }
  .details {
    padding: 40px 175px 64px;
    .number-details {
      .card-number {
        display: inline;
        font-weight: 600;
        font-size: 14px;
      }
      span.must_check {
        border-radius: 2px;
        display: inline-block;
        font-weight: 600;
        line-height: 1.4em;
        font-size: 12.5px;
        color: $basic-white;
        margin-left: 8px;
        padding: 0 4px;
        background-color: $caution-red;
      }
    }
    .number {
      max-width: 343px;
      .cardnumber {
        width: 100%;
        margin-top: 4px;
        height: 48px;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid $unfinish;
      }
    }
    .image {
      margin-top: 10px;
    }
    .expirationdate {
      .expirationdate__details {
        margin-top: 32px;
        .date {
          display: inline;
          font-weight: 600;
          font-size: 14px;
        }
        span.must_check {
          border-radius: 2px;
          display: inline-block;
          font-weight: 600;
          line-height: 1.4em;
          font-size: 12.5px;
          color: $basic-white;
          margin-left: 8px;
          padding: 0 4px;
          background-color: $caution-red;
        }
      }
      .expirationdate__choice {
        display: flex;
        height: 48px;
        line-height: 48px;
        .month {
          display: flex;
          .card-default {
            width: 140px;
            margin-top: 4px;
            border-radius: 4px;
            border: 1px solid $unfinish;
            background-color: white;
          }
          .month-details {
            padding: 0 5px 0 10px;
          }
        }
        .year {
          display: flex;
          .card-default {
            width: 140px;
            margin-top: 4px;
            border-radius: 4px;
            border: 1px solid $unfinish;
            background-color: white;
          }
          .year-details {
            padding: 0 5px 0 10px;
          }
        }
      }
    }
    .securitycode {
      .securitycode__details {
        margin-top: 32px;
        .securitycode-details__title {
          display: inline;
          font-weight: 600;
          font-size: 14px;
        }
        span.must_check {
          border-radius: 2px;
          display: inline-block;
          font-weight: 600;
          line-height: 1.4em;
          font-size: 12.5px;
          color: $basic-white;
          margin-left: 8px;
          padding: 0 4px;
          background-color: $caution-red;
        }
      }
      .securitycode__cardsecurity {
        max-width: 343px;
        .securitycode__cardsecurity__form {
          width: 100%;
          margin-top: 4px;
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid $unfinish;
        }
      }
      .card-question {
        text-align: right;
        color: #0099e8;
        font-size: 14px;
      }
    }
    .add {
      max-width: 343px;
      margin-top: 32px;
      .add__btn {
        width: 100%;
        margin-top: 4px;
        height: 48px;
        padding: 10px 16px 8px;
        background-color: #3CCACE;
        color: white;
        cursor: pointer;
        border-style: none;
      }
    }
  }
}