.wrapper
  .header
  .confirm-item
    .confirm-item__box
      %section.confirm-item__box--title
        購入内容の確認
      %section.confirm-item__box__itemView
        購入商品
      %section.confirm-item__box__payMoney
        支払い金額
      %section.confirm-item__box__payWay
        支払い方法
      %section.confirm-item__box__address
        配送先
      %section.confirm-item__box__purchase
        購入する

