.form-new {
  height: 2210px;
  max-width: 700px;
  margin: 0 auto;
  .form-image {
    height: 220px;
    padding: 40px;
    &__title {
      label {
        font-size: 14px;
        font-weight: 600;
        color: #333333;
      }
      span {
        border-radius: 2px;
        display: inline-block;
        font-style: normal;
        font-weight: 600;
        line-height: 1.4em;
        margin: 0;
        font-size: 12.5px;
        color: #ffffff;
        margin-left: 8px;
        padding: 0 4px;
        background-color: red;
      }
    }
    p {
      margin-top: 16px;
      font-size: 14px;
      color: #333333;
    }
    &__box {
      background-color: #f5f5f5;
      border: 1px dashed rgb(204, 204, 204);
      height: 150px;
      width: 620px;
      font-size: 12.5px;
      margin-top: 16px;
      text-align: center;
      cursor: pointer;
    }
  }


  .form-item {
    height: 375px;
    padding: 40px;
    &__name {
      &__label {
        label {
          font-size: 14px;
          font-weight: 600;
          color: #333333;
        }
        span {
          border-radius: 2px;
          display: inline-block;
          font-style: normal;
          font-weight: 600;
          line-height: 1.4em;
          margin: 0;
          font-size: 12.5px;
          color: #ffffff;
          margin-left: 8px;
          padding: 0 4px;
          background-color: red;
        }
      }
      &__input {
        margin-top: 16px;
        input {
          height: 48px;
          width: 588px;
          padding: 0 16px;
          border-radius: 4px;
          border: 1px solid #ccc;
        }
      }
    }

    &__text {
      margin-top: 32px;
      &__label {
        label {
          font-size: 14px;
          font-weight: 600;
          color: #333333;
        }
        span {
          border-radius: 2px;
          display: inline-block;
          font-style: normal;
          font-weight: 600;
          line-height: 1.4em;
          margin: 0;
          font-size: 12.5px;
          color: #ffffff;
          margin-left: 8px;
          padding: 0 4px;
          background-color: red;
        }
      }
      textarea {
        margin-top: 16px;
        font-size: 16px;
        padding: 13px 16px;
        border-radius: 4px;
        border: 1px solid #ccc;
      }
      &__style-counter {
        text-align: right;
        font-size: 12px;
        color: #888;
      }
    }
  }


  .form-detail {
    height: 362px;
    padding: 40px;
    p {
      color: rgb(136, 136, 136);
      font-size: 14px;
      font-weight: 600px;
      margin-bottom: 24px;
      line-height: 1.4em;
    }
    &__category {
      &__label {
        label {
          font-size: 14px;
          font-weight: 600;
          color: #333333;
        }
        span {
          border-radius: 2px;
          display: inline-block;
          font-style: normal;
          font-weight: 600;
          line-height: 1.4em;
          margin: 0;
          font-size: 12.5px;
          color: #ffffff;
          margin-left: 8px;
          padding: 0 4px;
          background-color: red;
        }
      }
      &__input {
        margin-top: 16px;
        select {
          height: 48px;
          width: 588px;
          padding: 0 16px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background-color: #ffffff;
        }
      }
    }
    &__brand {
      margin-top: 32px;
      label {
        font-size: 14px;
        font-weight: 600;
        color: #333333;
      }
      span {
        border-radius: 2px;
        display: inline-block;
        font-style: normal;
        font-weight: 600;
        line-height: 1.4em;
        margin: 0;
        font-size: 12.5px;
        color: #ffffff;
        margin-left: 8px;
        padding: 0 4px;
        background-color: #bfbfbf;
      }
      &__input {
        margin-top: 16px;
        input {
          height: 48px;
          width: 588px;
          padding: 0 16px;
          border-radius: 4px;
          border: 1px solid #ccc;
        }
      }
    }
    &__status {
      margin-top: 32px;
      &__label {
        label {
          font-size: 14px;
          font-weight: 600;
          color: #333333;
        }
        span {
          border-radius: 2px;
          display: inline-block;
          font-style: normal;
          font-weight: 600;
          line-height: 1.4em;
          margin: 0;
          font-size: 12.5px;
          color: #ffffff;
          margin-left: 8px;
          padding: 0 4px;
          background-color: red;
        }
      }
      &__input {
        margin-top: 16px;
        select {
          height: 48px;
          width: 588px;
          padding: 0 16px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background-color: #ffffff;
        }
      }
    }
  }



  .form-shipping {
    height: 362px;
    padding: 40px;
    p {
      color: rgb(136, 136, 136);
      font-size: 14px;
      font-weight: 600px;
      margin-bottom: 24px;
      line-height: 1.4em;
    }
    &__charge {
      &__label {
        label {
          font-size: 14px;
          font-weight: 600;
          color: #333333;
        }
        span {
          border-radius: 2px;
          display: inline-block;
          font-style: normal;
          font-weight: 600;
          line-height: 1.4em;
          margin: 0;
          font-size: 12.5px;
          color: #ffffff;
          margin-left: 8px;
          padding: 0 4px;
          background-color: red;
        }
      }
      &__input {
        margin-top: 16px;
        select {
          height: 48px;
          width: 588px;
          padding: 0 16px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background-color: #ffffff;
        }
      }
    }
    &__area {
      margin-top: 32px;
      &__label {
        label {
          font-size: 14px;
          font-weight: 600;
          color: #333333;
        }
        span {
          border-radius: 2px;
          display: inline-block;
          font-style: normal;
          font-weight: 600;
          line-height: 1.4em;
          margin: 0;
          font-size: 12.5px;
          color: #ffffff;
          margin-left: 8px;
          padding: 0 4px;
          background-color: red;
        }
      }
      &__input {
        margin-top: 16px;
        select {
          height: 48px;
          width: 588px;
          padding: 0 16px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background-color: #ffffff;
        }
      }
    }
    &__days {
      margin-top: 32px;
      &__label {
        label {
          font-size: 14px;
          font-weight: 600;
          color: #333333;
        }
        span {
          border-radius: 2px;
          display: inline-block;
          font-style: normal;
          font-weight: 600;
          line-height: 1.4em;
          margin: 0;
          font-size: 12.5px;
          color: #ffffff;
          margin-left: 8px;
          padding: 0 4px;
          background-color: red;
        }
      }
      &__input {
        margin-top: 16px;
        select {
          height: 48px;
          width: 588px;
          padding: 0 16px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background-color: #ffffff;
        }
      }
    }
  }



  .form-price {
    background-color: rgb(11, 23, 184);
    height: 330px;
    padding: 40px 40px 0px;
  }



  .form-btn {
    background-color: rgb(184, 11, 11);
    height: 132px;
    padding: 0px 170px 32px;
  }



  .form-term {
    background-color: rgb(11, 173, 184);
    width: 620px;
    height: 32.5px;
    margin: 0 auto;
  }
}